<!DOCTYPE html>
{% load static %}
{# O template base.html contém o código HTML que irá se repetir em todas as páginas #}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2f25f30753.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}Petshop{% endblock %}
    </title>

    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

    {% block styles %}
    {% endblock %}
</head>

<body class="bg-dark bg-img">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'website:index' %}">MEU PETSHOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-link" aria-current="page" href="{% url 'website:index' %}">Início</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Todos os registros
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'website:lista_clientes' %}">Clientes</a></li>
                            <li><a class="dropdown-item" href="{% url 'pets:lista_pets' %}">Pets</a></li>
                            <li><a class="dropdown-item" href="{% url 'services:lista_services' %}">Serviços</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'sales:lista_sales' %}">Vendas</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <a class="nav-link" href="/accounts/login">Entrar</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="/accounts/logout">Sair</a>
                    {% endif %}
                </div>
            </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!--
    <footer class="bg-light text-end text-lg-start fixed-bottom">
        <div class="text-end p-2" style="background-color: rgba(0, 0, 0, 0.1);">
            <div onchange="color(this.value)">
                <span>CORES</span>
                <a href="#" id="interruptor"><i class="link-light fas fa-circle"></i></a>
            </div>
        </div>
    </footer>
    -->

    <!-- Scripts -->
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/js/scripts.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>