<!DOCTYPE html>
{% load static %}
{# O template base.html contém o código HTML que irá se repetir em todas as páginas #}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2f25f30753.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}Petshop{% endblock %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

    {% block styles %}
    {% endblock %}
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-505">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'website:index' %}">PETSHOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="{% url 'website:index' %}">Início</a>
                    <a class="nav-link" href="{% url 'website:lista_clientes' %}">Clientes</a>
                    <a class="nav-link" href="{% url 'website:lista_clientes' %}">Pets</a>
                    <a class="nav-link" href="{% url 'website:lista_clientes' %}">Serviços</a>
                    <a class="nav-link" href="{% url 'website:lista_clientes' %}">Vendas</a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!--
    <footer class="bg-light text-end text-lg-start fixed-bottom">
        <div class="text-end p-2" style="background-color: rgba(0, 0, 0, 0.1);">
            <div onchange="color(this.value)">
                <span>CORES</span>
                <a href="#" id="interruptor"><i class="link-light fas fa-circle"></i></a>
                <a href="#"><i class="link-secondary fas fa-circle"></i></a>
                <a href="#"><i class="link-dark fas fa-circle"></i></a>
                <a href="#"><i class="me-2 link-success fas fa-circle"></i></a>
            </div>
        </div>
    </footer>
    -->

    <!-- Scripts -->
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/js/scripts.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>