<!-- Estender do template base -->
{% extends "website/_layouts/base.html" %}

{% load widget_tweaks %}

{% load crispy_forms_tags %}

{% block title %}Registrar usuário{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card bg-light border-0 mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title">Novo usuário</h5>
                    <p class="card-text mb-4">Crie sua conta para ter acesso à plataforma.</p>
                    <form method="post" class="row g-3">
                        <!-- A tag do Django {% csrf_token %} está relacionada à proteção que o Django provê ao CSRF - Cross Site Request Forgery (um tipo de ataque malicioso) -->

                        {% csrf_token %}

                        <input type="hidden" name="next" value="{{ next }}">

                        {{ form|crispy }}

                        <div class="text-start mt-4">
                            <button type="submit" class="btn btn-secondary"><i
                                    class="fas fa-save me-2"></i>REGISTRAR</button>
                        </div>
                    </form>

                    <p class="text-center mt-3 mb-3">Já possui uma conta? <a href="/accounts/login">Clique aqui</a></p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}