<!-- Estender do template base -->
{% extends "website/_layouts/base.html" %}

{% load widget_tweaks %}

{% block title %}Cadastro de Clientes{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card bg-light border-0 mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title">Registrar cliente</h5>
                    <p class="card-text mb-4">Use os campos abaixo para registrar um novo cliente.</p>

                    <form method="post" class="row g-3">
                        <!-- A tag do Django {% csrf_token %} está relacionada à proteção que o Django provê ao CSRF - Cross Site Request Forgery (um tipo de ataque malicioso) -->
                        {% csrf_token %}

                        <!-- Nome -->
                        <div class="col-md-8">
                            <label for="inputName" class="form-label">Nome*</label>
                            {% render_field form.nome class+="form-control" %}
                        </div>

                        <!-- CPF -->
                        <div class="col-md-4">
                            <label for="inputCPF" class="form-label">CPF*</label>
                            {% render_field form.cpf class+="form-control" %}
                        </div>

                        <!-- Email -->
                        <div class="col-md-8">
                            <label for="inputEmail" class="form-label">Email</label>
                            {% render_field form.email class+="form-control" %}
                        </div>

                        <!-- Telefone -->
                        <div class="col-md-4">
                            <label for="inputCelular" class="form-label">Telefone*</label>
                            {% render_field form.telefone class+="form-control" %}
                        </div>

                        <!-- Endereço -->
                        <div class="col-md-12">
                            <label for="inputEndereco" class="form-label">Endereço*</label>
                            {% render_field form.endereco class+="form-control" %}
                        </div>

                        <div class="text-start mt-4">
                            <button class="btn btn-secondary"><i class="fas fa-save me-2"></i>SALVAR</button>
                            <a href="{% url 'website:index' %}"
                                class="btn btn-link text-decoration-none text-secondary">CANCELAR</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}