<!-- Aqui terá um objeto chamado 'clientes' contendo todos os clientes disponíveis para iteração. -->
<!-- Estender do template base -->
{% extends "website/_layouts/base.html" %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="card bg-light border-0 mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title">Lista de clientes</h5>
                    <p class="card-text mb-4">Quadro atualizado de clientes cadastrados.</p>

                    {% if clientes|length > 0 %}
                    <table class="table table-borderless">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Nome</th>
                                <!-- <th scope="col">CPF</th> -->
                                <!-- <th scope="col">Email</th> -->
                                <th scope="col">Telefone</th>
                                <th scope="col">Endereço</th>
                                <th scope="col" class="text-end">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for clientes in clientes %}
                            <tr>
                                <td>{{ clientes.nome }}</td>
                                <!-- <td>{{ clientes.cpf }}</td> -->
                                <!-- <td>{{ clientes.email }}</td> -->
                                <td>{{ clientes.telefone }}</td>
                                <td>{{ clientes.endereco }}</td>

                                <td class="text-end">
                                    <a href="{% url 'website:atualiza_clientes' pk=clientes.id %}">
                                        <i class="link-success fas fa-user-edit"></i></a>
                                    <a href="{% url 'website:deleta_clientes' pk=clientes.id %}">
                                        <i class="ms-2 link-danger fas fa-user-minus"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="text-center mt-5 mb-5 jumbotron">
                        <h5>Sem clientes registrados ainda.</h5>
                    </div>
                    {% endif %}
                    <div class="text-start">
                        <a href="{% url 'website:cadastra_clientes' %}" class="btn btn-secondary"><i class="fas fa-plus me-2"></i>NOVO</a>
                        <a href="{% url 'website:index' %}" class="btn btn-link text-decoration-none text-secondary">INÍCIO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}