<!-- Estender do template base -->
{% extends "website/_layouts/base.html" %}

{% load widget_tweaks %}

{% load crispy_forms_tags %}

{% block title %}Atualização de Vendas{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card bg-light border-0 mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title">Atualizar venda</h5>
                    <p class="card-text mb-4">Atualização dos dados da venda.</p>

                    <form method="post" class="row g-3">
                        <!-- A tag do Django {% csrf_token %} está relacionada à proteção que o Django provê ao CSRF - Cross Site Request Forgery (um tipo de ataque malicioso) -->
                        {% csrf_token %}

                        <!-- {{ form.as_p }} -->
                        {{ form|crispy }}

                        <div class="text-start mt-4">
                            <button class="btn btn-secondary"><i class="fas fa-save me-2"></i>SALVAR</button>
                            <a href="{% url 'sales:lista_sales' %}"
                                class="btn btn-link text-decoration-none text-secondary">CANCELAR</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}